<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ashpak">
  <test thread-count="5" name="Study">
    <classes>
      <class name="TestNG_Annotation.TestNG_Anno"/>
      <class name="TestNG_Annotation.Class1"/>
      <class name="TestNG_Annotation.Class2"/>
    </classes>
  </test> <!-- Study -->
</suite> <!-- Ashpak -->
